



a {
        text-decoration: none;
        color: black;
        &:hover
        {
            text-decoration: none;
        }

}

.options
{
    li
    {
        margin-left:50px;
    }

}








